@media screen and (min-width: 480px) {
  .container {
    max-width: 426px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 582px;
  }

  .media-mob-hidden {
    display: flex;
    visibility: visible;
  }

  .media-tab-dt-hidden {
    display: none;
    visibility: hidden;
  }

  .header {
    border-bottom: 1px solid #e7e9fc;
    width: 100%;
    padding: 0;
  }
  .tab-container {
    display: flex;
    max-width: 766px;
    justify-content: space-between;
    align-items: center;
  }

  .navigation {
    display: flex;
    align-items: center;
    gap: 120px;
  }

  .nav-left {
    display: flex;
    gap: 40px;
  }

  .nav-link {
    position: relative;
    color: var(--main-color);
    font-weight: 500;
    line-height: 1.5;
    padding: 24px 0;
    letter-spacing: 0.02em;
    display: block;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
  }

  .nav-link.active {
    color: #404bbf;
  }

  .nav-link.active::after {
    content: "";
    position: absolute;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    background: #404bbf;
    border-radius: 2px;
  }

  .nav-link:hover,
  .nav-link:focus {
    color: var(--pressed-state-color);
  }

  .address {
    display: flex;
    flex-direction: column;
  }

  .address-item {
    color: var(--text-color);
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
  }

  .address-item:hover,
  .address-item:focus {
    color: var(--pressed-state-color);
  }

  .hero {
    padding: 108px 0;
    width: 100%;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/dark-bg-tab.jpg);
  }


  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/dark-bg-tab-x2.jpg);
    }
  }

.hero-title {
  font-size: 56px;
  line-height: 1.07;
}


  .features.container {
    display: flex;
    max-width: 766px;
    align-items: center;
  }

  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: space-between;
  }
  .feature {
    width: calc(50% - 12px);
    display: block;
  }

  .cards {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
  }

  .customers-list {
    column-gap: 24px;
    row-gap: 72px;
  }

  .customer-link {
    width: 168px;
    height: 88px;
  }

  footer .container {
    flex-direction: row;
    align-items: baseline;
    justify-content: start;
    column-gap: 0px;
    row-gap: 72px;
    column-gap: 24px;
    flex-wrap: wrap;
  }

  .footer-left {
    width: calc(50% - 12px);
    align-items: start;
  }

  .footer-right {
    width: calc(50% - 12px);
    align-items: start;
  }

  .footer-subscribe {
    width: auto;
    align-items: start;
  }

  .subscribe-form {
    flex-direction: row;
    gap: 24px;
  }

  .subscribe-input-email {
    width: 264px;
    height: 40px;
    background-color: transparent;
    border: 1px solid var(--secondary-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    outline: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: var(--secondary-color);
    padding-left: 16px;
  }
  .modal {
    max-width: none;
    width: 408px;
  height: 584px;
  }

  .portfolio-section {
    padding: 64px 0 96px 0;
  }

  .portfolio-section .container {
    max-width: 766px;
  }

  .menu {
    flex-wrap: nowrap;
    gap: 24px;
}

.cards-grid {
  flex-direction: row;
  column-gap: 24px;
  row-gap: 72px;
}

.grid-image{
  width: 356px;
  height: 300px;
}


@media screen and (min-width: 1200px) {
  .media-mob-hidden {
    display: flex;
    visibility: visible;
  }

  .media-tab-dt-hidden {
    display: none;
    visibility: hidden;
  }

  .media-mob-tab-hidden {
    display: flex;
    visibility: visible;
  }

  .container {
    width: 1158px;
  }

  .header {
    border-bottom: 1px solid #e7e9fc;
  }
  .header .container {
    max-width: 100%;
  }

  .address {
    flex-direction: row;
    gap: 40px;
  }

  .address-item {
    color: var(--text-color);
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
  }

  .address-item:hover,
  .address-item:focus {
    color: var(--pressed-state-color);
  }


  .hero.container {
    max-width: 100%;
  }


  .hero {
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/dark-bg-desk.jpg);
  }


  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/dark-bg-desk-x2.jpg);
    }
  }



  .features .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .feature-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-color);
    border-radius: 4px;
    height: 112px;
    width: 264px;
    margin-bottom: 8px;
  }
  .feature-icon {
    width: 64px;
    height: 64px;
  }

  .features {
    padding: 120px 0;
  }

  .features-list {
    gap: 24px;
    flex-wrap: nowrap;
  }

  .work-examples {
    padding-bottom: 120px;
  }

  .work-examples .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .work-examples .section-title {
    margin-bottom: 72px;
  }

  .article-images {
    display: flex;
    gap: 24px;
  }
  .work-example-image {
    width: 360px;
    height: 300px;
  }

  .team {
    padding: 120px 0;
    max-width: 100%;
  }

  .cards {
    flex-wrap: nowrap;
  }

  .card-img {
    width: 264px;
    height: 260px;
  }

  .customers {
    padding: 120px 0;
  }

  .customers-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  footer {
    padding: 100px 0;
  }

  footer .container {
    width: 1158px;
    max-width: 100%;
    gap: 0;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .footer-left {
    margin-right: 120px;
  }

  .footer-social-list {
    display: flex;
    gap: 16px;
  }

  .footer-subscribe {
    margin-left: 80px;
  }

  .subscribe-input-email {
    max-width: 264px;
  }

  .subscribe-form {
    display: flex;
    gap: 24px;
  }

  .portfolio-section {
    padding: 100px 0;
  }

  .portfolio-section .container {
    max-width: 1158px;
    gap: 72px;
  }

  .cards-grid {
    row-gap: 48px;
  }

}
