:root {
  /*--------------------- COLORS--------------------------------*/

  --main-color: #2e2f42; /* Logo/hero/footer/nav_items color*/
  --secondary-color: #fff; /* Light mode backgrounds Light mode Dialogs/alerts */
  --pressed-state-color: #404bbf; /* CTAs Focused/Active states */
  --light-color: #f4f4fd; /* Light mode backgrounds Light mode Dialogs/alerts */
  --accent-color: #e7e9fc; /* Accent color Hairlines Subtle backgrounds */
  --primary-brand-color: #4d5ae5; /* CTAs/Focused/Active states/Links */
  --text-color: #434455; /* Body text */
  --subtle-text-color: #8e8f99; /* helper text/ Deempasized text*/
}
/*--------------------- /COLORS--------------------------------*/

a {
  text-decoration: none;
}
.list {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--secondary-color);
}

.media-mob-hidden {
  display: none;
  visibility: hidden;
}

.media-mob-tab-hidden {
  display: none;
  visibility: hidden;
}

/* ============================= COMPONENTS =============================*/
.section-text {
  color: var(--text-color);
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.02em;
}
.section-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--main-color);
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

/* ============================= /COMPONENTS =============================*/
/* ============================= LOGO =============================*/

.logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: var(--primary-brand-color);
}

.logo-second-part {
  color: var(--main-color);
}
.logo-btm-second-part {
  color: var(--secondary-color);
}
/* ============================= /LOGO =============================*/
/* ============================= HEADER =============================*/

header .container {
  display: flex;
  justify-content: space-between;
}

.header {
  padding: 24px 0 22px 0;
}

.menu-open {
  background-color: transparent;
  border: none;
  cursor: pointer;
 
}

.menu-icon {
  width: 32px;
  height: 22px;
  stroke: var(--main-color);

}

.mob-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  top: 0;
  z-index: 1;
  padding: 24px 24px 40px 40px;
  width: 100vw;
  height: 100vh;
  background-color: var(--secondary-color);
  opacity: 0;
  visibility: hidden;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity, visibility;
}

.mob-menu.show {
  opacity: 1;
  visibility: visible;
}

.menu-close-button {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-bottom: 32px;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}
.menu-close-button:hover,
.menu-close-button:focus {
  background-color: var(--pressed-state-color);
}
.menu-close-icon {
  width: 8px;
  height: 8px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
}

.menu-close-button:hover .menu-close-icon,
.menu-close-button:focus .menu-close-icon {
  fill: var(--secondary-color);
}

.mob-menu-items-container {
  display: flex;
  flex-direction: column;
}

.mob-nav-link {
  color: var(--main-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  margin-bottom: 40px;
  letter-spacing: 0.02em;
  display: block;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}

.mob-nav-link:hover,
.mob-nav-link:focus {
  color: var(--pressed-state-color);
}

.mob-navigation .active {
  color: var(--pressed-state-color);
}

.mob-address {
  margin-bottom: 48px;
}

.mob-address-item {
  color: var(--text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}

.mob-phone-number {
  display: inline-block;
  font-weight: 700;
  color: var(--primary-brand-color);
  font-size: 27px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 40px;
}

.mob-address-item:hover,
.mob-address-item:focus {
  color: var(--pressed-state-color);
}

.menu-social {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  margin-top: auto;
  transform: scale();
}

.menu-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary-brand-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}

.menu-social-link:hover,
.menu-social-link:focus {
  background-color: var(--pressed-state-color);
}

.menu-social-icon {
  display: block;
  width: 24px;
  height: 24px;
  fill: var(--light-color);
}

/* ============================= /HEADER =============================*/
/* ============================= MAIN =============================*/

.hero {
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/dark-bg-mob.jpg);
  background-size: cover;
  background-color: var(--main-color);
  padding: 112px 0;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/dark-bg-mob-x2.jpg);
  }
}

.hero-title {
  margin: 0 auto 72px auto;
  font-size: 36px;
  line-height: 1.11;
  color: var(--secondary-color);
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 496px;
}
.service-button {
  display: block;
  margin: 0 auto;
  background-color: var(--primary-brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--secondary-color);
  font-family: inherit;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.04em;
  border: none;
  padding: 16px 32px;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}
.service-button:hover,
.service-button:focus {
  background-color: var(--pressed-state-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features {
  padding: 96px 0;
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.feature {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.feature .section-subtitle {
  margin-bottom: 8px;
}

.team {
  background-color: var(--light-color);
  padding: 96px 0;
}

.team .section-title {
  margin-bottom: 72px;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: var(--secondary-color);
  text-align: center;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 72px;
}
.card-body {
  padding: 32px 0;
}

.card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
}

.team-social {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-top: 8px;
}

.team-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary-brand-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--pressed-state-color);
}

.team-social-icon {
  display: block;
  width: 16px;
  height: 16px;
  fill: var(--light-color);
}

.customers {
  padding: 96px 0;
}
.customers-title {
  margin-bottom: 72px;
  color: var(--main-color);
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 16px;
  row-gap: 72px;
}

.customer {
  width: calc((100% - 16px) / 2);
}


.customer-link {
  display: flex;
  border: 1px solid var(--subtle-text-color);
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 88px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border;
}

.customer-icon {
  display: block;
  width: 110px;
  height: 56px;
  fill: var(--subtle-text-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
}

.customer-link:hover,
.customer-link:focus {
  border: 1px solid #404bbf;
}

.customer-link:hover .customer-icon,
.customer-link:focus .customer-icon {
  fill: var(--pressed-state-color);
}

/* ============================= /MAIN =============================*/
/* ============================= FOOTER =============================*/
footer {
  background-color: var(--main-color);
  padding: 96px 0;
}

footer .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 72px;
}

.footer-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-logo {
  display: block;
  margin-bottom: 16px;
}

.footer-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-text {
  color: var(--accent-color);
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}

.footer-social {
  color: var(--secondary-color);
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-social-list {
  display: flex;
  gap: 16px;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: hsla(0, 0%, 100%, 0.1);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.footer-social-icon {
  width: 24px;
  height: 24px;
  fill: var(--secondary-color);
}

.footer-subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: inherit;
}

.subscribe {
  color: var(--secondary-color);
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.subscribe-input-email {
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: 1px solid var(--secondary-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--secondary-color);
  padding-left: 16px;
}

.subscribe-input-email::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff99;
}
.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: inherit;
  justify-content: center;
  gap: 16px;
}

.subscribe-btn {
  font-style: inherit;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--secondary-color);
  line-height: 1.5;
  width: 165px;
  height: 40px;
  padding: 8px 24px 8px 24px;
  background: var(--primary-brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}
.subscribe-icon {
  width: 24px;
  height: 20px;
  fill: var(--secondary-color);
  margin-left: 16px;
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: var(--pressed-state-color);
}

/* ============================= FOOTER =============================*/

/*================================PORTFOLIO===========================*/

.portfolio-section {
  padding: 48px 0;
}

.menu {
  display: flex;
  justify-content: center;
  column-gap: 24px;
  row-gap: 16px;
  flex-wrap: wrap;

}

.portfolio-section .container {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.menu-button {
  background-color: var(--light-color);
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding: 12px 24px;
  white-space: nowrap;
  color: var(--primary-brand-color);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-family: inherit;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: box-shadow, background-color, color, border;
}
.menu-button:hover,
.menu-button:focus {
  background-color: var(--pressed-state-color);
  color: var(--secondary-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid #404bbf;
}

.cards-grid {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.grid-card-content .section-subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}

.grid-image-wrap {
  position: relative;
  overflow: hidden;
}

.image-text {
  position: absolute;
  top: 0;
  padding: 40px 32px 164px 32px;
  height: 100%;
  font-weight: 400;
  background-color: var(--primary-brand-color);
  color: var(--light-color);
  transform: translateY(100%);
}

.image-text {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform;
}

.grid-card {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: box-shadow;
}

.grid-card:hover .image-text {
  transform: translateY(0);
}

.grid-card:hover,
.grid-card:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.grid-card-content {
  padding: 32px 0 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.grid-card-content .section-subtitle {
  margin-bottom: 8px;
}

/*================================/PORTFOLIO===========================*/
/*================================ MODAL ===========================*/

.backdrop {
  position: fixed;
  top: 0;
  background-color: rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 100%;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity;
}

.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 392px;
  height: auto;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 24px;
  overflow: auto;
}

.modal-cross-button {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-bottom: 24px;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}

.modal-title {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
  margin-bottom: 16px;
  text-align: center;
}

.input-text {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--subtle-text-color);
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid #2e2f421a;
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border-color;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal-input:focus {
  outline: transparent;
  border-color: var(--primary-brand-color);
}

.modal-input:focus + .modal-input-icon {
  fill: var(--primary-brand-color);
}

.modal-field {
  margin-bottom: 8px;
}

.modal-input-wrap {
  position: relative;
}

.modal-input-icon {
  position: absolute;
  left: 19px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--main-color);
  width: 12px;
  height: 12px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
}

.modal-textarea {
  display: block;
  padding: 8px 16px;
  height: 120px;
  resize: none;
}

.text-area-wrap {
  margin-bottom: 16px;
}

.terms-label {
  display: flex;
}

.checkbox-field {
  display: flex;
  align-items: center;
  justify-content: center;
}

.terms-label .terms-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid #2e2f42;
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  outline: transparent;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color, border-color, fill;
}

.modal-checkbox:checked ~ .terms-label > .terms-checkbox {
  background-color: var(--pressed-state-color);
  border-color: #404bbf;
  fill: var(--light-color);
}

.terms-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--subtle-text-color);
}

.terms-link {
  color: rgba(77, 90, 229, 1);
  text-decoration: underline;
}

.modal-cross-button:hover,
.modal-cross-button:focus {
  background-color: var(--pressed-state-color);
}

.modal-icon-cross {
  width: 8px;
  height: 8px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
}

.modal-cross-button:hover .modal-icon-cross,
.modal-cross-button:focus .modal-icon-cross {
  fill: var(--secondary-color);
}

.modal-submit-button {
  display: block;
  cursor: pointer;
  font-style: inherit;
  font-weight: 500;
  color: var(--secondary-color);
  line-height: 1.5;
  width: 169px;
  height: 56px;
  margin: 24px auto auto auto;
  padding: 16px 32px;
  background: var(--primary-brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}

.modal-submit-button:hover,
.modal-submit-button:focus {
  background-color: var(--pressed-state-color);
}

/*================================ MODAL ===========================*/
