.header {
  border-bottom: 1px solid #e7e9fc;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 76px;
}

.nav-left {
  display: flex;
  gap: 40px;
}

.nav-link {
  position: relative;
  color: var(--main-color);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  padding: 24px 0;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}

.nav-link.active {
  color: var(--pressed-state-color);
}

.nav-link.active::after {
  content: "";
  position: absolute;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  background: var(--pressed-state-color);
  border-radius: 2px;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--pressed-state-color);
}

.address {
  display: flex;
  gap: 40px;
}

.address-item {
  color: var(--text-color);
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}

.address-item:hover,
.address-item:focus {
  color: var(--pressed-state-color);
}
